In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
feature_1 = pd.read_excel('feature1.xlsx')
feature_2 = pd.read_excel('feature2.xlsx')
feature_3 = pd.read_excel('feature3.xlsx')
feature_hospital_1 = pd.read_excel('feature_hospital1.xlsx')
feature_hospital_2 = pd.read_excel('feature_hospital2.xlsx')
outcome1_feature = pd.read_excel('outcome1_feature.xlsx')
outcome2 = pd.read_excel('outcome2.xlsx')
outcome3 = pd.read_excel('outcome3.xlsx')

In [3]:
for index, i in enumerate([feature_1, feature_2, feature_3, feature_hospital_1, feature_hospital_2, outcome1_feature, outcome2, outcome3]):
    print(index+1)
    print(i.columns)
    print('-------------------')

1
Index(['State', 'County', 'Percent Unemployment',
       'Drug Overdose Deaths per 100,000', 'Teen Births per 1,000',
       'Poor or Fair Health', 'Poor Physical Health Days',
       'Poor Mental Health Days', 'Physical Inactivity',
       'No Vehicle Available',
       'Transportation to Work_Drove Alone to Work (need to transform into one)',
       'Transportation to Work_Carpool to Work (need to transform into one)',
       'Transportation to Work_Worked at Home (need to transform into one)',
       'Long Commute', 'Income Inequality Rate', 'Median Household Income',
       'Percent Residential Segregation Black/White',
       'Percent Food Insecurity', 'Percent Limited Access to Healthy Foods',
       'Population Size', 'Frequent Mental Distress Rate',
       'Excessive Drinking Rate', 'Motor Vehicle Accidents', 'Injury Deaths',
       'Homicides', 'Alcohol-Impaired Driving Death Rate', 'Premature Deaths',
       'Percent White', 'Percent Uninsured'],
      dtype='object')
-------------------
2
Index(['State', 'County', 'Percent bachelor's degree or higher'], dtype='object')
-------------------
3
Index(['State', 'County', 'Percent Female', 'Average Age',
       'Percent Non-Hispanic White', 'MA Participation Rate'],
      dtype='object')
-------------------
4
Index(['State', 'County', 'Hospital',
       'Percent Strongly Agree Understood Care'],
      dtype='object')
-------------------
5
Index(['State', 'County', 'Hospital',
       'Percent of Doctors That Always Communicate'],
      dtype='object')
-------------------
6
Index(['State', 'County', 'Readmission Rate (outcome)',
       'Preventable Hospital Stays Rate', 'Percent in Poverty'],
      dtype='object')
-------------------
7
Index(['State Abbreviation', 'County Name', 'Opioid Prescribing Rate'], dtype='object')
-------------------
8
Index(['State', 'County', 'Average HCC Score',
       'Standardized Per Capita Medicare Costs'],
      dtype='object')
-------------------

Mapping feature_2 states

In [4]:
state_dict = {'Alabama':'AL','Alaska':'AK','Arizona':'AZ','Arkansas':'AR','California':'CA','Colorado':'CO','Connecticut':'CT','Delaware':'DE',
              'Florida':'FL','Georgia':'GA','Hawaii':'HI','Idaho':'ID','Illinois':'IL','Indiana':'IN','Iowa':'IA','Kansas':'KS','Kentucky':'KY',
              'Louisiana':'LA','Maine':'ME','Maryland':'MD','Massachusetts':'MA','Michigan':'MI','Minnesota':'MN','Mississippi':'MS','Missouri':'MO',
              'Montana':'MT','Nebraska':'NE','Nevada':'NV','New Hampshire':'NH','New Jersey':'NJ','New Mexico':'NM','New York':'NY','North Carolina':'NC',
              'North Dakota':'ND','Ohio':'OH','Oklahoma':'OK','Oregon':'OR','Pennsylvania':'PA','Rhode Island':'RI','South Carolina':'SC','South Dakota':'SD',
              'Tennessee':'TN','Texas':'TX','Utah':'UT','Vermont':'VT','Virginia':'VA','Washington':'WA','West Virginia':'WV','Wisconsin':'WI','Wyoming':'WY','District of Columbia':'DC'}

In [5]:
feature_2['State'] = feature_2['State'].map(lambda x: state_dict[x.lstrip()])

In [6]:
for i in [feature_1, feature_2, feature_3, feature_hospital_1, feature_hospital_2, outcome1_feature, outcome2, outcome3]:
    print(i.head(5))

  State          County  Percent Unemployment  \
0    AL  AUTAUGA COUNTY                   5.2
1    AL  BALDWIN COUNTY                   5.5
2    AL  BARBOUR COUNTY                   8.9
3    AL     BIBB COUNTY                   6.6
4    AL   BLOUNT COUNTY                   5.4

   Drug Overdose Deaths per 100,000  Teen Births per 1,000  \
0                              9.64                   32.4
1                             17.18                   38.0
2                               NaN                   59.0
3                             14.79                   47.5
4                             20.78                   43.2

   Poor or Fair Health  Poor Physical Health Days  Poor Mental Health Days  \
0                 17.9                        4.2                      4.2
1                 16.4                        3.7                      4.0
2                 25.0                        4.8                      4.8
3                 19.5                        4.4                      4.4
4                 18.9                        4.5                      4.5

   Physical Inactivity  No Vehicle Available        ...          \
0                 28.6                  0.97        ...
1                 22.3                  0.78        ...
2                 31.8                  4.33        ...
3                 33.9                  1.98        ...
4                 28.0                  1.03        ...

   Population Size  Frequent Mental Distress Rate  Excessive Drinking Rate  \
0            55347                             13                     15.0
1           203709                             12                     15.4
2            26489                             15                     11.9
3            22583                             13                     14.3
4            57673                             13                     13.9

   Motor Vehicle Accidents  Injury Deaths  Homicides  \
0                      NaN            NaN        NaN
1                      NaN           35.7        NaN
2                     6.85           73.6        6.0
3                     8.16          148.8       12.2
4                      NaN          269.2        NaN

   Alcohol-Impaired Driving Death Rate  Premature Deaths  Percent White  \
0                                  NaN               NaN           11.9
1                                100.0              31.0           25.9
2                                 26.0            2937.0           59.0
3                                 60.0             206.0           11.3
4                                  0.0               NaN           43.8

   Percent Uninsured
0               41.4
1               27.0
2               19.1
3               36.1
4               24.4

[5 rows x 29 columns]
  State          County  Percent bachelor's degree or higher
0    AL  Autauga County                                 24.6
1    AL  Baldwin County                                 29.5
2    AL  Barbour County                                 12.9
3    AL     Bibb County                                 12.0
4    AL   Blount County                                 13.0
  State          County Percent Female Average Age Percent Non-Hispanic White  \
0    Na  NATIONAL TOTAL        54.88 %          71                    79.57 %
1    AK     STATE TOTAL        50.36 %          70                    74.33 %
2    AK  Aleutians East        44.55 %          72                          *
3    AK  Aleutians West        50.00 %          70                          *
4    AK       Anchorage        52.69 %          70                    70.97 %

  MA Participation Rate
0               36.37 %
1                1.16 %
2                0.00 %
3                     *
4                1.17 %
  State             County                          Hospital  \
0    AL     HOUSTON COUNTY  SOUTHEAST ALABAMA MEDICAL CENTER
1    AL    MARSHALL COUNTY     MARSHALL MEDICAL CENTER SOUTH
2    AL  LAUDERDALE COUNTY    ELIZA COFFEE MEMORIAL HOSPITAL
3    AL   COVINGTON COUNTY          MIZELL MEMORIAL HOSPITAL
4    AL    CRENSHAW COUNTY       CRENSHAW COMMUNITY HOSPITAL

   Percent Strongly Agree Understood Care
0                                    50.0
1                                    48.0
2                                    47.0
3                                    49.0
4                                    47.0
  State             County                          Hospital  \
0    AL     HOUSTON COUNTY  SOUTHEAST ALABAMA MEDICAL CENTER
1    AL    MARSHALL COUNTY     MARSHALL MEDICAL CENTER SOUTH
2    AL  LAUDERDALE COUNTY    ELIZA COFFEE MEMORIAL HOSPITAL
3    AL   COVINGTON COUNTY          MIZELL MEMORIAL HOSPITAL
4    AL    CRENSHAW COUNTY       CRENSHAW COMMUNITY HOSPITAL

   Percent of Doctors That Always Communicate
0                                        81.0
1                                        85.0
2                                        82.0
3                                        88.0
4                                        95.0
  State          County  Readmission Rate (outcome)  \
0    AL  AUTAUGA COUNTY                       16.76
1    AL  BALDWIN COUNTY                       15.81
2    AL  BARBOUR COUNTY                       18.44
3    AL     BIBB COUNTY                       15.49
4    AL   BLOUNT COUNTY                       15.31

   Preventable Hospital Stays Rate  Percent in Poverty
0                            58.59                12.7
1                            47.61                12.9
2                            73.50                32.0
3                            77.35                22.2
4                            63.02                14.7
  State Abbreviation County Name  Opioid Prescribing Rate
0                 AL     Autauga                    11.47
1                 AL     Baldwin                     8.56
2                 AL     Barbour                     3.56
3                 AL        Bibb                     3.73
4                 AL      Blount                     5.78
  State          County Average HCC Score  \
0    Na  NATIONAL TOTAL                 1
1    AK     STATE TOTAL              0.81
2    AK  Aleutians East              0.72
3    AK  Aleutians West              0.78
4    AK       Anchorage              0.86

  Standardized Per Capita Medicare Costs
0                                9532.59
1                                6846.05
2                                6003.45
3                                5777.64
4                                6838.43

In [7]:
feature_1.head(5)

,State,County,Percent Unemployment,"Drug Overdose Deaths per 100,000","Teen Births per 1,000",Poor or Fair Health,Poor Physical Health Days,Poor Mental Health Days,Physical Inactivity,No Vehicle Available,...,Population Size,Frequent Mental Distress Rate,Excessive Drinking Rate,Motor Vehicle Accidents,Injury Deaths,Homicides,Alcohol-Impaired Driving Death Rate,Premature Deaths,Percent White,Percent Uninsured
0,AL,AUTAUGA COUNTY,5.2,9.64,32.4,17.9,4.2,4.2,28.6,0.97,...,55347,13,15.0,NaN,NaN,NaN,NaN,NaN,11.9,41.4
1,AL,BALDWIN COUNTY,5.5,17.18,38.0,16.4,3.7,4.0,22.3,0.78,...,203709,12,15.4,NaN,35.7,NaN,100.0,31.0,25.9,27.0
2,AL,BARBOUR COUNTY,8.9,NaN,59.0,25.0,4.8,4.8,31.8,4.33,...,26489,15,11.9,6.85,73.6,6.0,26.0,2937.0,59.0,19.1
3,AL,BIBB COUNTY,6.6,14.79,47.5,19.5,4.4,4.4,33.9,1.98,...,22583,13,14.3,8.16,148.8,12.2,60.0,206.0,11.3,36.1
4,AL,BLOUNT COUNTY,5.4,20.78,43.2,18.9,4.5,4.5,28.0,1.03,...,57673,13,13.9,NaN,269.2,NaN,0.0,NaN,43.8,24.4

In [8]:
feature_2.head(5)

  State          County  Percent bachelor's degree or higher
0    AL  Autauga County                                 24.6
1    AL  Baldwin County                                 29.5
2    AL  Barbour County                                 12.9
3    AL     Bibb County                                 12.0
4    AL   Blount County                                 13.0

join feature_1 and feature_2 by state and county, first create a new column for state_county

In [9]:
feature_1['state_county'] = feature_1.apply(lambda x: x['State'].lower() + '_' + x['County'].lower(), axis=1)
feature_2['state_county'] = feature_1.apply(lambda x: x['State'].lower() + '_' + x['County'].lower(), axis=1)

left join feature_1 and feature_2

In [10]:
feature_12_copy = feature_1.merge(feature_2, on='state_county', how='left')

In [11]:
feature_12_copy.head()

,State_x,County_x,Percent Unemployment,"Drug Overdose Deaths per 100,000","Teen Births per 1,000",Poor or Fair Health,Poor Physical Health Days,Poor Mental Health Days,Physical Inactivity,No Vehicle Available,...,Injury Deaths,Homicides,Alcohol-Impaired Driving Death Rate,Premature Deaths,Percent White,Percent Uninsured,state_county,State_y,County_y,Percent bachelor's degree or higher
0,AL,AUTAUGA COUNTY,5.2,9.64,32.4,17.9,4.2,4.2,28.6,0.97,...,NaN,NaN,NaN,NaN,11.9,41.4,al_autauga county,AL,Autauga County,24.6
1,AL,BALDWIN COUNTY,5.5,17.18,38.0,16.4,3.7,4.0,22.3,0.78,...,35.7,NaN,100.0,31.0,25.9,27.0,al_baldwin county,AL,Baldwin County,29.5
2,AL,BARBOUR COUNTY,8.9,NaN,59.0,25.0,4.8,4.8,31.8,4.33,...,73.6,6.0,26.0,2937.0,59.0,19.1,al_barbour county,AL,Barbour County,12.9
3,AL,BIBB COUNTY,6.6,14.79,47.5,19.5,4.4,4.4,33.9,1.98,...,148.8,12.2,60.0,206.0,11.3,36.1,al_bibb county,AL,Bibb County,12.0
4,AL,BLOUNT COUNTY,5.4,20.78,43.2,18.9,4.5,4.5,28.0,1.03,...,269.2,NaN,0.0,NaN,43.8,24.4,al_blount county,AL,Blount County,13.0

Delete extra columns

In [12]:
feature_12 = feature_12_copy.drop(['State_x','County_x','State_y','County_y'], axis=1)

In [13]:
feature_12.dtypes

Percent Unemployment                                                       float64
Drug Overdose Deaths per 100,000                                           float64
Teen Births per 1,000                                                      float64
Poor or Fair Health                                                        float64
Poor Physical Health Days                                                  float64
Poor Mental Health Days                                                    float64
Physical Inactivity                                                        float64
No Vehicle Available                                                       float64
Transportation to Work_Drove Alone to Work (need to transform into one)    float64
Transportation to Work_Carpool to Work (need to transform into one)        float64
Transportation to Work_Worked at Home (need to transform into one)         float64
Long Commute                                                               float64
Income Inequality Rate                                                     float64
Median Household Income                                                    float64
Percent Residential Segregation Black/White                                float64
Percent Food Insecurity                                                    float64
Percent Limited Access to Healthy Foods                                    float64
Population Size                                                              int64
Frequent Mental Distress Rate                                                int64
Excessive Drinking Rate                                                    float64
Motor Vehicle Accidents                                                    float64
Injury Deaths                                                              float64
Homicides                                                                  float64
Alcohol-Impaired Driving Death Rate                                        float64
Premature Deaths                                                           float64
Percent White                                                              float64
Percent Uninsured                                                          float64
state_county                                                                object
Percent bachelor's degree or higher                                        float64
dtype: object

In [14]:
feature_3.head()

,State,County,Percent Female,Average Age,Percent Non-Hispanic White,MA Participation Rate
0,Na,NATIONAL TOTAL,54.88 %,71,79.57 %,36.37 %
1,AK,STATE TOTAL,50.36 %,70,74.33 %,1.16 %
2,AK,Aleutians East,44.55 %,72,*,0.00 %
3,AK,Aleutians West,50.00 %,70,*,*
4,AK,Anchorage,52.69 %,70,70.97 %,1.17 %

In [15]:
feature_3.head()

,State,County,Percent Female,Average Age,Percent Non-Hispanic White,MA Participation Rate
0,Na,NATIONAL TOTAL,54.88 %,71,79.57 %,36.37 %
1,AK,STATE TOTAL,50.36 %,70,74.33 %,1.16 %
2,AK,Aleutians East,44.55 %,72,*,0.00 %
3,AK,Aleutians West,50.00 %,70,*,*
4,AK,Anchorage,52.69 %,70,70.97 %,1.17 %

combine state and county in feature3

In [16]:
feature_3['state_county'] = feature_3.apply(lambda x: x['State'].lower() + '_' + x['County'].lower(), axis=1)

delete the 'county' and extra space in feature_12 state_county column

In [17]:
# feature_12.merge(feature_3, on='state_county', how='left')
# feature_3.head(20)
feature_12['state_county'] = feature_12['state_county'].apply(lambda x: x.replace('county','').rstrip())

In [18]:
feature_12.head(5)

,Percent Unemployment,"Drug Overdose Deaths per 100,000","Teen Births per 1,000",Poor or Fair Health,Poor Physical Health Days,Poor Mental Health Days,Physical Inactivity,No Vehicle Available,Transportation to Work_Drove Alone to Work (need to transform into one),Transportation to Work_Carpool to Work (need to transform into one),...,Excessive Drinking Rate,Motor Vehicle Accidents,Injury Deaths,Homicides,Alcohol-Impaired Driving Death Rate,Premature Deaths,Percent White,Percent Uninsured,state_county,Percent bachelor's degree or higher
0,5.2,9.64,32.4,17.9,4.2,4.2,28.6,0.97,86.78,9.14,...,15.0,NaN,NaN,NaN,NaN,NaN,11.9,41.4,al_autauga,24.6
1,5.5,17.18,38.0,16.4,3.7,4.0,22.3,0.78,84.71,7.62,...,15.4,NaN,35.7,NaN,100.0,31.0,25.9,27.0,al_baldwin,29.5
2,8.9,NaN,59.0,25.0,4.8,4.8,31.8,4.33,82.78,11.68,...,11.9,6.85,73.6,6.0,26.0,2937.0,59.0,19.1,al_barbour,12.9
3,6.6,14.79,47.5,19.5,4.4,4.4,33.9,1.98,85.07,11.24,...,14.3,8.16,148.8,12.2,60.0,206.0,11.3,36.1,al_bibb,12.0
4,5.4,20.78,43.2,18.9,4.5,4.5,28.0,1.03,86.11,10.15,...,13.9,NaN,269.2,NaN,0.0,NaN,43.8,24.4,al_blount,13.0

In [19]:
feature_3.columns

Index(['State', 'County', 'Percent Female', 'Average Age',
       'Percent Non-Hispanic White', 'MA Participation Rate', 'state_county'],
      dtype='object')

left join feature 12 and feature 3

In [20]:
feature_123_copy = feature_12.merge(feature_3, on='state_county', how='left')

count number of missing values for each variable

In [21]:
feature_123_copy.isnull().sum()

Percent Unemployment                                                          1
Drug Overdose Deaths per 100,000                                           1510
Teen Births per 1,000                                                       107
Poor or Fair Health                                                           0
Poor Physical Health Days                                                     0
Poor Mental Health Days                                                       0
Physical Inactivity                                                           0
No Vehicle Available                                                          0
Transportation to Work_Drove Alone to Work (need to transform into one)       0
Transportation to Work_Carpool to Work (need to transform into one)           0
Transportation to Work_Worked at Home (need to transform into one)            0
Long Commute                                                                  0
Income Inequality Rate                                                        2
Median Household Income                                                       1
Percent Residential Segregation Black/White                                1100
Percent Food Insecurity                                                       0
Percent Limited Access to Healthy Foods                                       0
Population Size                                                               0
Frequent Mental Distress Rate                                                 0
Excessive Drinking Rate                                                       0
Motor Vehicle Accidents                                                     427
Injury Deaths                                                               113
Homicides                                                                  1919
Alcohol-Impaired Driving Death Rate                                          18
Premature Deaths                                                             65
Percent White                                                                 0
Percent Uninsured                                                             1
state_county                                                                  0
Percent bachelor's degree or higher                                           0
State                                                                        89
County                                                                       89
Percent Female                                                               89
Average Age                                                                  89
Percent Non-Hispanic White                                                   89
MA Participation Rate                                                        89
dtype: int64

In [22]:
#feature_123_copy[feature_123_copy['Percent Female'].isnull()]['state_county']
#feature_3['state_county'] = feature_3['state_county'].apply(lambda x: x.replace('parish','').replace('city and borough','').replace('borough','').rstrip())

In [23]:
feature_123 = feature_123_copy.drop(columns=['State','County'])

Complete joining feature 12 and feature 3

In [24]:
feature_123.head()

,Percent Unemployment,"Drug Overdose Deaths per 100,000","Teen Births per 1,000",Poor or Fair Health,Poor Physical Health Days,Poor Mental Health Days,Physical Inactivity,No Vehicle Available,Transportation to Work_Drove Alone to Work (need to transform into one),Transportation to Work_Carpool to Work (need to transform into one),...,Alcohol-Impaired Driving Death Rate,Premature Deaths,Percent White,Percent Uninsured,state_county,Percent bachelor's degree or higher,Percent Female,Average Age,Percent Non-Hispanic White,MA Participation Rate
0,5.2,9.64,32.4,17.9,4.2,4.2,28.6,0.97,86.78,9.14,...,NaN,NaN,11.9,41.4,al_autauga,24.6,55.61 %,70,85.53 %,36.15 %
1,5.5,17.18,38.0,16.4,3.7,4.0,22.3,0.78,84.71,7.62,...,100.0,31.0,25.9,27.0,al_baldwin,29.5,54.08 %,72,92.62 %,36.35 %
2,8.9,NaN,59.0,25.0,4.8,4.8,31.8,4.33,82.78,11.68,...,26.0,2937.0,59.0,19.1,al_barbour,12.9,56.48 %,69,*,23.79 %
3,6.6,14.79,47.5,19.5,4.4,4.4,33.9,1.98,85.07,11.24,...,60.0,206.0,11.3,36.1,al_bibb,12.0,53.93 %,68,*,42.44 %
4,5.4,20.78,43.2,18.9,4.5,4.5,28.0,1.03,86.11,10.15,...,0.0,NaN,43.8,24.4,al_blount,13.0,54.19 %,70,96.66 %,44.17 %

---------------------------
hospital level

In [25]:
feature_hospital_1.head()

,State,County,Hospital,Percent Strongly Agree Understood Care
0,AL,HOUSTON COUNTY,SOUTHEAST ALABAMA MEDICAL CENTER,50.0
1,AL,MARSHALL COUNTY,MARSHALL MEDICAL CENTER SOUTH,48.0
2,AL,LAUDERDALE COUNTY,ELIZA COFFEE MEMORIAL HOSPITAL,47.0
3,AL,COVINGTON COUNTY,MIZELL MEMORIAL HOSPITAL,49.0
4,AL,CRENSHAW COUNTY,CRENSHAW COMMUNITY HOSPITAL,47.0

In [26]:
# replace some ‘-’ in 'county' to ‘ ’
feature_hospital_1['County'] = feature_hospital_1['County'].apply(lambda x: str(x).replace('-',' '))
# county variable to lower and drop 'county' in 'state_county'
feature_hospital_1['state_county'] = feature_hospital_1.apply(lambda x: x['State'].lower() + '_' + x['County'].lower(), axis=1).apply(lambda x: x.replace('county',''))

In [27]:
feature_hospital_1 = feature_hospital_1.drop(columns=['State','County'])

Calculate the average score for all hospitals per county

In [28]:
feature_hospital_copy = feature_hospital_1
feature_hospital_copy = feature_hospital_copy.groupby('state_county').mean()
feature_hospital_copy['State_county']=feature_hospital_copy.index
feature_hospital_copy.reset_index(inplace=True)
feature_hospital_copy.drop('State_county',axis=1, inplace=True)
feature_hospital_copy['state_county'] = feature_hospital_copy['state_county'].apply(lambda x: str(x).rstrip())

left join feature_123 and feature_hospital_1

In [29]:
feature_1234 = feature_123.merge(feature_hospital_copy, on='state_county', how='left')

-------------

clean up feature_hospital_2

In [30]:
feature_hospital_2.head()

,State,County,Hospital,Percent of Doctors That Always Communicate
0,AL,HOUSTON COUNTY,SOUTHEAST ALABAMA MEDICAL CENTER,81.0
1,AL,MARSHALL COUNTY,MARSHALL MEDICAL CENTER SOUTH,85.0
2,AL,LAUDERDALE COUNTY,ELIZA COFFEE MEMORIAL HOSPITAL,82.0
3,AL,COVINGTON COUNTY,MIZELL MEMORIAL HOSPITAL,88.0
4,AL,CRENSHAW COUNTY,CRENSHAW COMMUNITY HOSPITAL,95.0

In [31]:
feature_hospital_2['County'] = feature_hospital_2['County'].apply(lambda x: str(x).replace('-',' '))
feature_hospital_2['state_county'] = feature_hospital_2.apply(lambda x: x['State'].lower() + '_' + x['County'].lower(), axis=1).apply(lambda x: x.replace('county',''))

In [32]:
feature_hospital_2 = feature_hospital_2.drop(columns=['State','County'])

In [33]:
feature_hospital_2_tmp = feature_hospital_2.groupby('state_county').mean()
feature_hospital_2_tmp['State_county']=feature_hospital_2_tmp.index
feature_hospital_2_tmp.reset_index(inplace=True)
feature_hospital_2_tmp['state_county'] = feature_hospital_2_tmp['State_county']
feature_hospital_2_tmp.drop('State_county',axis=1, inplace=True)
feature_hospital_2_tmp['state_county'] = feature_hospital_2_tmp['state_county'].apply(lambda x: str(x).rstrip())

In [34]:
feature_hospital_2_tmp.shape

(2607, 2)

left join feature_1234 and feature_hospital_2

In [35]:
feature_12345 = feature_1234.merge(feature_hospital_2_tmp, on='state_county', how='left')

In [36]:
feature_12345.to_pickle('feature_12345.pkl')

In [37]:
feature_12345.isnull().sum()

Percent Unemployment                                                          1
Drug Overdose Deaths per 100,000                                           1510
Teen Births per 1,000                                                       107
Poor or Fair Health                                                           0
Poor Physical Health Days                                                     0
Poor Mental Health Days                                                       0
Physical Inactivity                                                           0
No Vehicle Available                                                          0
Transportation to Work_Drove Alone to Work (need to transform into one)       0
Transportation to Work_Carpool to Work (need to transform into one)           0
Transportation to Work_Worked at Home (need to transform into one)            0
Long Commute                                                                  0
Income Inequality Rate                                                        2
Median Household Income                                                       1
Percent Residential Segregation Black/White                                1100
Percent Food Insecurity                                                       0
Percent Limited Access to Healthy Foods                                       0
Population Size                                                               0
Frequent Mental Distress Rate                                                 0
Excessive Drinking Rate                                                       0
Motor Vehicle Accidents                                                     427
Injury Deaths                                                               113
Homicides                                                                  1919
Alcohol-Impaired Driving Death Rate                                          18
Premature Deaths                                                             65
Percent White                                                                 0
Percent Uninsured                                                             1
state_county                                                                  0
Percent bachelor's degree or higher                                           0
Percent Female                                                               89
Average Age                                                                  89
Percent Non-Hispanic White                                                   89
MA Participation Rate                                                        89
Percent Strongly Agree Understood Care                                     1014
Percent of Doctors That Always Communicate                                 1014
dtype: int64

In [38]:
feature_12345.describe()

,Percent Unemployment,"Drug Overdose Deaths per 100,000","Teen Births per 1,000",Poor or Fair Health,Poor Physical Health Days,Poor Mental Health Days,Physical Inactivity,No Vehicle Available,Transportation to Work_Drove Alone to Work (need to transform into one),Transportation to Work_Carpool to Work (need to transform into one),...,Motor Vehicle Accidents,Injury Deaths,Homicides,Alcohol-Impaired Driving Death Rate,Premature Deaths,Percent White,Percent Uninsured,Percent bachelor's degree or higher,Percent Strongly Agree Understood Care,Percent of Doctors That Always Communicate
count,3134.000000,1625.000000,3028.000000,3135.000000,3135.000000,3135.000000,3135.000000,3135.000000,3135.00000,3135.000000,...,2708.000000,3022.000000,1216.000000,3117.000000,3070.000000,3135.000000,3134.000000,3135.000000,2121.000000,2121.000000
mean,5.519496,18.140468,39.436063,17.015949,3.912727,3.779011,25.960606,2.549024,79.85525,10.158175,...,18.781957,80.310688,5.953125,30.654379,1119.931922,76.852376,17.189343,20.783349,52.519580,83.137298
std,1.983138,9.477209,18.085699,4.799609,0.727556,0.570952,5.201757,3.204777,7.14899,2.925380,...,9.458316,24.909510,4.494398,15.916702,2934.627920,19.859474,6.252094,9.132470,6.165007,4.954318
min,1.800000,2.540000,3.600000,7.900000,2.200000,2.300000,8.100000,0.000000,6.07000,0.000000,...,2.880000,23.300000,0.700000,0.000000,20.000000,3.200000,3.300000,3.000000,30.000000,56.000000
25%,4.200000,11.990000,25.675000,13.300000,3.400000,3.400000,22.600000,1.380000,77.52000,8.290000,...,11.987500,63.925000,3.100000,21.400000,174.000000,65.200000,12.325000,14.400000,49.000000,80.000000
50%,5.300000,16.160000,37.700000,16.100000,3.800000,3.800000,25.800000,2.050000,81.25000,9.760000,...,17.155000,77.000000,4.900000,29.600000,389.000000,84.100000,16.600000,18.500000,52.000000,83.000000
75%,6.500000,21.950000,50.700000,20.000000,4.400000,4.200000,29.400000,2.940000,84.21000,11.590000,...,23.635000,92.600000,7.400000,38.000000,916.250000,92.900000,21.500000,24.700000,56.000000,86.000000
max,24.000000,93.200000,123.800000,42.400000,6.500000,5.800000,41.400000,72.520000,93.79000,30.370000,...,76.810000,269.200000,42.500000,100.000000,77515.000000,98.400000,46.000000,80.200000,88.000000,99.000000

---------------------------
clean up other variables

In [39]:
for i in [outcome1_feature, outcome2, outcome3]:
    print(i.head(5))
#     i['state_county'] = i.apply(lambda x: x['State'].lower() + '_' + x['County'].lower(), axis=1)
#     i['state_county'] = i['state_county'].apply(lambda x: x.replace('county','').rstrip())

  State          County  Readmission Rate (outcome)  \
0    AL  AUTAUGA COUNTY                       16.76
1    AL  BALDWIN COUNTY                       15.81
2    AL  BARBOUR COUNTY                       18.44
3    AL     BIBB COUNTY                       15.49
4    AL   BLOUNT COUNTY                       15.31

   Preventable Hospital Stays Rate  Percent in Poverty
0                            58.59                12.7
1                            47.61                12.9
2                            73.50                32.0
3                            77.35                22.2
4                            63.02                14.7
  State Abbreviation County Name  Opioid Prescribing Rate
0                 AL     Autauga                    11.47
1                 AL     Baldwin                     8.56
2                 AL     Barbour                     3.56
3                 AL        Bibb                     3.73
4                 AL      Blount                     5.78
  State          County Average HCC Score  \
0    Na  NATIONAL TOTAL                 1
1    AK     STATE TOTAL              0.81
2    AK  Aleutians East              0.72
3    AK  Aleutians West              0.78
4    AK       Anchorage              0.86

  Standardized Per Capita Medicare Costs
0                                9532.59
1                                6846.05
2                                6003.45
3                                5777.64
4                                6838.43

In [40]:
outcome1_feature.head()

,State,County,Readmission Rate (outcome),Preventable Hospital Stays Rate,Percent in Poverty
0,AL,AUTAUGA COUNTY,16.76,58.59,12.7
1,AL,BALDWIN COUNTY,15.81,47.61,12.9
2,AL,BARBOUR COUNTY,18.44,73.50,32.0
3,AL,BIBB COUNTY,15.49,77.35,22.2
4,AL,BLOUNT COUNTY,15.31,63.02,14.7

In [41]:
outcome1_feature['state_county'] = outcome1_feature.apply(lambda x: x['State'].lower() + '_' + x['County'].lower(), axis=1)
outcome1_feature['state_county'] = outcome1_feature['state_county'].apply(lambda x: x.replace('county','').rstrip())

In [42]:
outcome1_feature.head()

,State,County,Readmission Rate (outcome),Preventable Hospital Stays Rate,Percent in Poverty,state_county
0,AL,AUTAUGA COUNTY,16.76,58.59,12.7,al_autauga
1,AL,BALDWIN COUNTY,15.81,47.61,12.9,al_baldwin
2,AL,BARBOUR COUNTY,18.44,73.50,32.0,al_barbour
3,AL,BIBB COUNTY,15.49,77.35,22.2,al_bibb
4,AL,BLOUNT COUNTY,15.31,63.02,14.7,al_blount

In [43]:
outcome1_feature_tmp = outcome1_feature.drop(['State', 'County'], axis=1)

In [44]:
#feature_123455 = feature_12345.merge(outcome1_feature_tmp, on='state_county', how='left')

In [45]:
#feature_123455.isnull().sum()

In [46]:
#feature_123455.drop(['Readmission Rate (outcome)','Preventable Hospital Stays Rate','Percent in Poverty'],axis=1, inplace=True)

In [47]:
outcome1_feature_tmp['state_county'] = outcome1_feature_tmp['state_county'].apply(lambda x: str(x).replace(' borough','').replace(' area','').replace(' parish','').replace(' city',''))

In [48]:
feature_123456 = feature_12345.merge(outcome1_feature_tmp, on='state_county', how='right')

In [49]:
feature_123456.dtypes

Percent Unemployment                                                       float64
Drug Overdose Deaths per 100,000                                           float64
Teen Births per 1,000                                                      float64
Poor or Fair Health                                                        float64
Poor Physical Health Days                                                  float64
Poor Mental Health Days                                                    float64
Physical Inactivity                                                        float64
No Vehicle Available                                                       float64
Transportation to Work_Drove Alone to Work (need to transform into one)    float64
Transportation to Work_Carpool to Work (need to transform into one)        float64
Transportation to Work_Worked at Home (need to transform into one)         float64
Long Commute                                                               float64
Income Inequality Rate                                                     float64
Median Household Income                                                    float64
Percent Residential Segregation Black/White                                float64
Percent Food Insecurity                                                    float64
Percent Limited Access to Healthy Foods                                    float64
Population Size                                                            float64
Frequent Mental Distress Rate                                              float64
Excessive Drinking Rate                                                    float64
Motor Vehicle Accidents                                                    float64
Injury Deaths                                                              float64
Homicides                                                                  float64
Alcohol-Impaired Driving Death Rate                                        float64
Premature Deaths                                                           float64
Percent White                                                              float64
Percent Uninsured                                                          float64
state_county                                                                object
Percent bachelor's degree or higher                                        float64
Percent Female                                                              object
Average Age                                                                 object
Percent Non-Hispanic White                                                  object
MA Participation Rate                                                       object
Percent Strongly Agree Understood Care                                     float64
Percent of Doctors That Always Communicate                                 float64
Readmission Rate (outcome)                                                 float64
Preventable Hospital Stays Rate                                            float64
Percent in Poverty                                                         float64
dtype: object

In [50]:
for i in ['Percent Female','Average Age','Percent Non-Hispanic White','MA Participation Rate']:
    feature_123456[i] = feature_123456[i].apply(lambda x: str(x).replace(' %',''))

In [51]:
feature_123456['Average Age'] = feature_123456['Average Age'].apply(lambda x: str(x).replace('*',''))

In [52]:
feature_123456['Average Age'] = feature_123456['Average Age'].astype('float64')

In [53]:
feature_123456['Percent Female'] = feature_123456['Percent Female'].astype('float64')

In [54]:
feature_123456['MA Participation Rate'] = feature_123456['MA Participation Rate'].apply(lambda x: str(x).replace('*',''))

In [55]:
feature_123456['MA Participation Rate'] = feature_123456['MA Participation Rate'].apply(lambda x: str(x).replace('\'',''))

In [56]:
MA_Participation_Rate_list = []
for i in feature_123456['MA Participation Rate'].tolist():
    try:
        MA_Participation_Rate_list.append(float(i))
    except:
        MA_Participation_Rate_list.append(None)

In [57]:
feature_123456['MA Participation Rate'] = MA_Participation_Rate_list

In [58]:
feature_123456['MA Participation Rate'] = feature_123456['MA Participation Rate'].astype('float64')

In [59]:
feature_123456['Percent Non-Hispanic White'] = feature_123456['Percent Non-Hispanic White'].apply(lambda x: x.replace('*',''))

In [60]:
Percent_Non_Hispanic_White_list = []
for i in feature_123456['Percent Non-Hispanic White'].tolist():
    try:
        Percent_Non_Hispanic_White_list.append(float(i))
    except:
        Percent_Non_Hispanic_White_list.append(None)

In [61]:
feature_123456['Percent Non-Hispanic White'] = Percent_Non_Hispanic_White_list

In [62]:
feature_123456['Percent Non-Hispanic White'] = feature_123456['Percent Non-Hispanic White'].astype('float64')

In [63]:
feature_123456.dtypes

Percent Unemployment                                                       float64
Drug Overdose Deaths per 100,000                                           float64
Teen Births per 1,000                                                      float64
Poor or Fair Health                                                        float64
Poor Physical Health Days                                                  float64
Poor Mental Health Days                                                    float64
Physical Inactivity                                                        float64
No Vehicle Available                                                       float64
Transportation to Work_Drove Alone to Work (need to transform into one)    float64
Transportation to Work_Carpool to Work (need to transform into one)        float64
Transportation to Work_Worked at Home (need to transform into one)         float64
Long Commute                                                               float64
Income Inequality Rate                                                     float64
Median Household Income                                                    float64
Percent Residential Segregation Black/White                                float64
Percent Food Insecurity                                                    float64
Percent Limited Access to Healthy Foods                                    float64
Population Size                                                            float64
Frequent Mental Distress Rate                                              float64
Excessive Drinking Rate                                                    float64
Motor Vehicle Accidents                                                    float64
Injury Deaths                                                              float64
Homicides                                                                  float64
Alcohol-Impaired Driving Death Rate                                        float64
Premature Deaths                                                           float64
Percent White                                                              float64
Percent Uninsured                                                          float64
state_county                                                                object
Percent bachelor's degree or higher                                        float64
Percent Female                                                             float64
Average Age                                                                float64
Percent Non-Hispanic White                                                 float64
MA Participation Rate                                                      float64
Percent Strongly Agree Understood Care                                     float64
Percent of Doctors That Always Communicate                                 float64
Readmission Rate (outcome)                                                 float64
Preventable Hospital Stays Rate                                            float64
Percent in Poverty                                                         float64
dtype: object

In [64]:
feature_123456.to_pickle('data.pkl')